$palette-brand: #DBB373;
$palette-brand-second: #1C253E;
$palette-light: #FFFFFF;
$palette-grey: #F1F3F7;
$palette-dark: #40444C;

$palette-light-disabled: rgba(#ECEEF6, 0.8);
$palette-dark-disabled: #B0B4BF;

$palette-text-light: #ECEEF6;
$palette-text-dark: #40444C;

$palette-line: #B0B4BF;
$palette-line-transparency: rgba(#B0B4BF, 0.3);



