@mixin button-behaviour() {
  cursor: pointer;
  user-select: none;
}

@mixin absolute-fill($z: 1) {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: $z;

  @content;
}

@mixin object-cover() {
  object-fit: cover;
  object-position: center;
}
@mixin object-contain() {
  object-fit: contain;
  object-position: center;
}
