.c-external-link {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  color: $palette-brand;

  font: {
    family: $family-heading;
    size: $font-lead;
    weight: $weight-bold;
  }

  &:after {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    @include contain();
    background-image: url("/media/images/companies/icon-external.svg");
    margin-left: 8px;
  }
}
