.c-history-banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 170px;
  margin-top: -170px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__line {
    width: 54.5%;
    height: 96px;
    position: relative;

    background: {
      size: auto 100%;
      position: right top;
      image: url(/media/history-line.svg);
      repeat: no-repeat;
      color: transparent;
    };
  }

  &__content {
    position: relative;
    padding: 0 8px;
    margin-top: -8px;

    &:hover {
      .c-history-banner__svg {
        text {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
  &__years {
    position: absolute;
    left: 100%;
    bottom: calc(100% - 33px);
  }

  &__svg {
    width: 662px;
    height: 178px;
    position: absolute;
    left: 0;
    bottom: 0;

    text {
      font: {
        family: $family-text;
        size: $font-note;
      };
      fill: $palette-dark-disabled;

      opacity: 0;
      transform: translateX(-8px);
      transition: {
        duration: 0.3s;
        property: opacity, transform;
      }
    }
  }

  .c-link {
    height: 20px;

    .a-icon-arrow-right {
      height: 20px;
      line-height: 20px;
    }

    &__label {
      line-height: 1;

      @include breakpoint-across-small-large-laptop() {
        font-size: 14px;
      }
    }
  }

}
