.c-logo {
  width: 184px;
  height: 87px;
  display: block;
  transform-origin: left center;

  &__image {
    width: 100%;
    height: 100%;
    display: block;
  }

  @include breakpoint-across-small-large-laptop() {
    width: 132px;
    height: 62px;
  }
}
