.c-structure {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  &__list {
    width: 100%;

    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(50% - 4px);
    height: 0;
    padding-bottom: calc(16.65% - 4px);
    position: relative;
    background-color: $palette-light;
    margin: 2px;

    img {
      @include absolute-fill(1);
      @include object-contain();
      @include filter-greyscale(1);
      opacity: 0.5;
      transition: {
        property: opacity, filter;
        duration: 0.3s;
      };
    }

    &:hover {
      img {
        @include filter-greyscale(0);
        opacity: 1;
      }
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__caption{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    img {
      height: 12px;
      width: auto;
      display: inline-block;
      margin-left: 30px;
      margin-top: 10px;
    }

    @include breakpoint-across-small-large-laptop() {
      img {
        margin-top: 5px;
      }
    }
  }
}
